@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container h3{
    font-weight: 600;
    font-size: 15px;
    color: #3498db;
    border-bottom: 1px solid #f1efef;
    padding: 10px 0px;
}
.qr-code-image{
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    padding:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.input-label{
 display: block;
 margin-bottom: 8px;
 color:#3498db;
 font-size: 15px;
 font-weight: 500;
}
input[type="text"]{
 padding: 12px;
 margin-bottom: 20px;
 width:100%;
 font-size: 16px;
 border:2px solid #3498db;
 border-radius: 5px;
}
button{
    padding:15px 20px;
    font-size:18px;
    color:#fff;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    transition:background-color 0.3s;
}
.Generate-btn{
    background-color: #3498db;
}
.Generate-btn:disabled{
    background-color: #bdc3c7;
        cursor: not-allowed;
}
.Download-btn{
    background-color: rgb(122, 211, 122);
    margin-left: 10px;
}
.Download-btn:hover{
    background-color: green;
}
